.logo a{
    color:var(--primary-color);
    font-size:1.6rem;
    font-weight:700;
}

.logo span{
    color:#38bdf8;
}

.show{
    display:flex !important;
}

@media(max-width:768px){

    .nav-links{
        position:absolute;
        top:70px;
        left:0;

        width:100%;

        background:#fff;

        flex-direction:column;

        padding:25px 0;

        border-top:1px solid var(--border-color);

        gap:20px;
    }

}
